@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:white;
}

a.hover {
  color:white;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

.card {
  width: 70%;
}

.click{
  border:thin;
  background: border-box;
  color: #d5d516;
}

.clickEmoji{
  border:thin;
  background: border-box;
  color: #cb1456;
}

.click:hover{
  color: #d5d516;
  text-decoration-line: underline;
}

.click:focus{
  outline: none;
}

.clickEmoji:hover{
  color: #eb1111;
}

.clickEmoji:focus{
  outline: none;
}

.MuiPaper-root{
  border: 1px solid #ffffff4a;
}

.MuiTableCell-stickyHeader{
  background-color: #191919;
  border: 1px solid #ffffff4a;
}

.MuiSelect-select{
  padding-right: 24px;
  border: 1px solid white
}

